/* ========================= DESKTOP ==================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

:root {
  --blue: #1e90ff; /*DodgerBlue*/
  --blueLight: #87cefa; /*Ligth Sky blue*/
  --blueLight2: #87cefaec;
  --blueFine: #225ed8;
  --darkBlue: #101026;
  --background: #f7f4f0;
  --white: #fff;
  --dark: #000000;
  --darkLigth: #00000056;
}
/*INICIO barra navegação */

.navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem;
  color: var(--darkLigth);
  width: 100%;
  transition: all 0.5s;
  position: fixed;
}

.navegacao .logo {
  color: var(--blueFine);
  font-size: 1.7rem;
  font-weight: 600;
}

.logo span {
  color: var(--blue);
}

.navegacao ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navegacao ul li a {
  color: black;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}

.navegacao ul li a:hover {
  color: var(--blue);
  font-size: 20px;
  font-weight: 700;
  transition: all 0.5s;
}
.menu {
  cursor: pointer;
  display: none;
}
/* FIM Barra de navegação */

/* Barra do menu hamburguer */
.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--blue);
}
/* Fim Barra do menu hamburguer */

/* INICIO BODY */
.pai-base-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 45px;
  gap: 120px;
}
.base-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 12rem;
  gap: 1rem;
}
input,
textarea {
  width: 20rem;
  box-shadow: none;
}
label {
  font-size: 20px;
}
button {
  display: inline-block;
  flex-wrap: wrap;
  display: block;
  border: none;
}
button {
  padding: 9px 20px;
  box-shadow: none;
  background: var(--blue);
  color: var(--white);
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.5s;
}
button:hover {
  background: var(--blueFine);
}
/* =================================FIM BODY =====================================*/

/* ================ RESPONSIVO ================*/

@media (max-width: 785px) {
  .navegacao {
    padding: 18px 20px;
  }
  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    /* background-color: #000000;  para botar o X preto e azul */
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--blueLight2);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  nav a:hover {
    background-color: var(--background);
    border-radius: 3px;
  }
}
/*================================= TESTE =================================*/
